header, footer{
    min-height: 50px;
    height: auto;
    width: 100%;
    border: 2px solid black;
    background-color: lightblue;
    text-align: center;
    font-size: 1.5rem
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 300px;
    height: auto;
    border: 2px solid black;
    width: 100%;
    

}

.rightbar ul{
    text-align: left;
}

.center{
    max-width: 600px
}